.clear {
  clear: both;
}
ul, li {
  list-style-type: none;
  margin: 0;
}
em {
  font-style: normal;
  color: #4CA20B;
}
.ui-button {
  
}


body {
  background: #7bad2f;
}
#wrapper {
  background-color: white;
}
#header {
  background-color: #528413;
  padding: 6px 0;
  color: white;
  border-bottom: 2px solid #7bad2f;
}
  #header .navitem {
    display: inline;
  }
    #header a {
      text-decoration: none;
      color: #FFFF00;
    }
  #header a:hover {
    background-color: transparent;
    text-decoration: underline;
  }
  #header #main-navigation > ul > li {
/*    margin-top: 30px;*/
  }
    #header #main-navigation > ul > li > a {
      padding: 40px 14px 10px;
    }
      .sf-menu li:hover ul,
      .sf-menu li.sfHover ul {
        top: 60px;
      }
      #header #main-navigation li li {
        background: #43611b;
      }
        #header #main-navigation li li a {
          padding: 10px;
        }

/**** Start superfish styles ****/
/*** arrows **/
.sf-menu a.sf-with-ul {
  padding-right: 	1.25em;
  min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
  position:		absolute;
  display:		block;
  right:			0;
  bottom:		  12px; /* IE6 only */
  width:			10px;
  height:			10px;
  text-indent: 	-999em;
  overflow:		hidden;
  background:		url('/images/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
  background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
  background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
  background:	url('/images/shadow.png') no-repeat bottom right;
  padding: 0 8px 9px 0;
  -moz-border-radius-bottomleft: 17px;
  -moz-border-radius-topright: 17px;
  -webkit-border-top-right-radius: 17px;
  -webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
  background: transparent;
}
/**** End superfish styles ****/

#contents {
  padding: 15px 0;
}
  #contents ul li {
    border-top: 1px dashed gray;
    padding: 10px 0;
  }
  #contents ul li:first-child {
    border-top: none;
  }
#footer {
  border-top: 3px solid #528413;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
}


.details .attr {
  margin-bottom: 0.8em;
}
.ui-button {
  color: yellow;
  padding: 8px 10px;
  text-decoration: none;
}
  .ui-button.active {
    background: yellow;
  }
    .ui-button.active .ui-button-text {
      color: #333333;
    }
.editable {
  padding: 5px 10px;
}
.editable.active {
  border: 1px solid black;
}
.errors {
  color: red;
}
.alert {
  background-color: red;
  color: white;
  padding: 5px 15px;
}
.notice {
  background-color: green;
  color: white;
  padding: 5px 15px;
}
