Welcome to Knowpickle, the site for learning stuff!
%h2 Newest Resources
%ul
  - @resources.each do |resource|
    %li
      = link_to resource, resource
      (#{ link_to resource.topic })
%h2 Topics
%ul
  - @topics.each do |topic|
    %li
      = link_to topic.name, topic
%br
= link_to 'Suggest a new Topic!', new_topic_path, :class => 'ui-button'