Welcome to Knowpickle!
%h2 Newest Resources
%ul
  - @resources.each do |resource|
    %li
      = link_to resource, resource
%h2 Topics
%ul
  - @topics.each do |topic|
    %li
      = link_to topic.name, topic
